.searchBar {
    anchor-name: --search-bar;

    width: 295px;
    height: 30px;
    display: flex;
    border-radius: 9999px;
    border: 2px solid #9b9b9b;
    color: #9b9b9b;

    input {
        flex: 1;
        min-width: 0px;
        padding: 0 0.5em;
        border: 0;
        background: transparent;

        &:focus-visible {
            outline: none;
        }
    }

    button {
        flex-shrink: 0;
        background: transparent;
        border: 0;
    }
}

.dropdown {
    position: absolute;
    position-anchor: --search-bar;
    position-area: bottom;

    border: 1px solid black;
    border-radius: 6px;

    height: min-content;
    max-height: 300px;

    scrollbar-width: none;
    -ms-overflow-style: none;

    &::-webkit-scrollbar {
        display: none;
    }
}

.resultsHeader {
    display: flex;
    justify-content: space-between;

    position: sticky;
    top: 0;

    background: white;

    padding: 4px;

    border-bottom: 1px solid black;
}

.viewAll {
    position: sticky;
    bottom: 0;

    padding: 4px;

    background: white;

    border-top: 1px solid black;
}

.results {
    /* z-index: -1; */

    li {
        border: 1px solid lightgrey;
    }

    a {
        text-decoration: none;
    }

    a:link,
    a:visited {
        color: inherit;
    }

    span {
        display: block;

        max-width: 32ch;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}